@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
}

.custom-bg-gradient {
  background-image: radial-gradient(
      circle at 90% 24%,
      rgba(209, 209, 209, 0.04) 0%,
      rgba(209, 209, 209, 0.04) 50%,
      rgba(160, 160, 160, 0.04) 50%,
      rgba(160, 160, 160, 0.04) 100%
    ),
    radial-gradient(
      circle at 91% 63%,
      rgba(45, 45, 45, 0.04) 0%,
      rgba(45, 45, 45, 0.04) 50%,
      rgba(87, 87, 87, 0.04) 50%,
      rgba(87, 87, 87, 0.04) 100%
    ),
    radial-gradient(
      circle at 17% 2%,
      rgba(124, 124, 124, 0.04) 0%,
      rgba(124, 124, 124, 0.04) 50%,
      rgba(117, 117, 117, 0.04) 50%,
      rgba(117, 117, 117, 0.04) 100%
    ),
    linear-gradient(88deg, rgb(33, 20, 105), rgb(1, 15, 13));
}

.custom-glassmorphism-bg {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
}
